<a href="https://colab.research.google.com/github/ergonrizky26/3-Months-of-Data-Science/blob/main/Day_2_Python_Sets%2C_Dictionaries_and_Tuples_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Sets

A Set is an unordered collection data type that is iterable, mutable, and has no duplicate elements. Python's set class <br>
represent the mathematical notion of a set. This is based on a data structure known as a hast table

In [1]:
# Defining on empty set

set_var = set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [9]:
set_var = {1, 2, 3, 4, 5}

In [5]:
set_var

{1, 2, 3, 4, 5}

In [6]:
set_var = {"Avengers", "IronMan", "Hitman"}
print(set_var)
type(set_var)

{'Hitman', 'Avengers', 'IronMan'}

set

In [10]:
# Inbuilt function in sets

set_var.add("Hulk")

In [11]:
print(set_var)

{1, 2, 3, 4, 5, 'Hulk'}

In [19]:
set1 = {"Avengers", "IronMan", "Hitman"}
set2 = {"Avengers", "IronMan", "Hitman", "Hulk2"}

In [13]:
# Difference

set2.difference(set1)

{'Hulk2'}

In [14]:
print(set2)

{'IronMan', 'Hitman', 'Avengers', 'Hulk2'}

In [15]:
# Difference Update

set2.difference_update(set1)

In [16]:
print(set2)

{'Hulk2'}

In [20]:
# Intersection

set2.intersection(set1)

{'Avengers', 'Hitman', 'IronMan'}

In [21]:
# Intersection Update

set2.intersection_update(set1)

In [22]:
set2

{'Avengers', 'Hitman', 'IronMan'}

# Dictionaries

A dictionary is a collection which is unordered, changeable, and indexed. In Python, dictionaries are written with curly brackets, <br>
and they have keys and values.

In [23]:
dic = {}

In [24]:
type(dic)

dict

In [26]:
dic = {1, 2, 3, 4, 5}
type(dic)

set

In [27]:
# Create simple dictionary

my_dict = {"Car1" : "Audi", "Car2" : "BMW", "Car3" : "Mercedes Benz"}

In [28]:
type(my_dict)

dict

In [29]:
# Access the item values based on keys

my_dict['Car1']

'Audi'

In [30]:
# We can even loop throught the dictionaries keys

for x in my_dict:
  print(x)

Car1
Car2
Car3

In [31]:
# We can even loop throught the dictionaries values

for x in my_dict.values():
  print(x)

Audi
BMW
Mercedes Benz

In [32]:
# We can also check both keys and values

for x in my_dict.items():
  print(x)

('Car1', 'Audi')
('Car2', 'BMW')
('Car3', 'Mercedes Benz')

In [33]:
# Adding items in Dictionaries

my_dict['car4'] = "Audi 2.0"

In [34]:
my_dict

{'Car1': 'Audi', 'Car2': 'BMW', 'Car3': 'Mercedes Benz', 'car4': 'Audi 2.0'}

In [37]:
# Updating values based on keys

my_dict['Car1'] = "Porsche"

In [38]:
my_dict

{'Car1': 'Porsche',
 'Car2': 'BMW',
 'Car3': 'Mercedes Benz',
 'car4': 'Audi 2.0',
 'car1': 'Porsche'}

## Nested Dictionary

In [39]:
car1_model = {'Mercedes' : 1960}
car2_model = {'Audi' : 1970}
car3_model = {'Ambassador' : 1980}

car_type = {'car1' : car1_model, 'car2' : car2_model, 'car3' : car3_model}

In [40]:
print(car_type)

{'car1': {'Mercedes': 1960}, 'car2': {'Audi': 1970}, 'car3': {'Ambassador': 1980}}

In [41]:
# Accessing the items in the dictionary

print(car_type['car1'])

{'Mercedes': 1960}

In [43]:
print(car_type['car1']['Mercedes'])

1960

# Tuples

Tuple is not mutable, not changeable

In [46]:
# Create an empty Tuples

my_tuple = tuple()

In [47]:
type(my_tuple)

tuple

In [48]:
my_tuple = ()
type(my_tuple)

tuple

In [49]:
my_tuples = ("John", "Rich", "Kevin")

In [50]:
my_tuples[0]

'John'

In [51]:
print(type(my_tuples))
print(my_tuples)

<class 'tuple'>
('John', 'Rich', 'Kevin')

In [53]:
# Inbuilt Function in Tuple

my_tuples.count("John")

1

In [54]:
my_tuples.index("Rich")

1